footer {
    text-align: center;

    ul {
        padding: 0;
        margin: $spacing-s 0;
        li {
            list-style: none;
        }
    }

    .row div {
        margin-bottom: $spacing-m;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}