footer {
    margin: 0 $gutter-mobile;
    display: flex;

    li,
    li a {
        font-weight: 300;
    }

    .contact-row {
        flex-direction: column;
        margin-bottom: $spacing-m;
    }

    @media only screen and (min-width: $screen-md) {
        border-top: 1px solid $primary-color;
        margin: 0 $gutter;
        
        h3 {
            width: 100%;
        }

        .contact-row {
            align-items: baseline;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 0;
            width: 83%;
        }
    }
}