.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;
}

main {
    margin-bottom: 0;
    text-align: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

ul {
    padding-left: 0;
}

@media only screen and (min-width: $screen-md) {
    ul {
        max-width: 250px;
    }
}