.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

main {
    margin-bottom: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (min-width: $screen-md) {
    .container {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin: $gutter-mobile auto 0;

        & > * {
            flex: 1 42%;
        }
    }
}