main {
    margin-bottom: $spacing-m*2;
    margin-left: $spacing-m*2;
    margin-right: $spacing-m*2;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.main__image {
    background-size: cover;
    height: 90vh;
    @media only screen and (min-width: $screen-md) {
        background-position: bottom center;
        height: 80vh;
    }
}