// Screen sizes

$screen-sm: 46rem;
$screen-md: 61rem;
$screen-lg: 71rem;

// typography

$base-family: 'Work Sans', sans-serif;;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

$header-family: 'Work Sans', sans-serif;
$primary-color: #333333;

$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;